
@font-face {
  font-family: "open_sansregular";
  src: url("../libraries/fonts/opensans_regular/OpenSans-Regular-webfont.eot");
  src: url("../libraries/fonts/opensans_regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../libraries/fonts/opensans_regular/OpenSans-Regular-webfont.woff") format("woff"), url("../libraries/fonts/opensans_regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../libraries/fonts/opensans_regular/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  font-family: "open_sansregular", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.cover-api {
  text-align: left;
  margin-top: 35px;
}
.content-line {
  margin-top: 91;
}





.rootResource {
  margin-top: 10px;
}


.rootResource_Title
{
    color: #ccc !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor:pointer;
    width:100%;
}
.rootResource_Title:Hover
{
    color: #000;
}

.resource_content
{
    padding:5px;
    overflow: hidden;
}

.resource_code
{
    margin:8px;
    border: 2px dashed #ccc;
    background-color:#FCF6DB;
    overflow: hidden;
}

.resourcecredits
{
    padding:0px;
}
.resourceauthor
{
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
}
.resourcedate
{
    padding-top:0px;
    padding-bottom:0px;
    float:right;
    margin:0px;
    padding-right:15px;
}

.resources
{
    display:none;
}

.resource_subTitle
{
    cursor:pointer;
    padding-left:8px;
    color: white;
}
.resource_subTitle:Hover
{
    text-decoration:underline;
    color: white;
}

.resource_Caption-POST
{
    padding-right:8px;
    color:#10ACAA;
}
.resource_Caption-PUT
{
    padding-right:8px;
    color:#CE862B;
}

.resource_Caption-DELETE
{
    padding-right:8px;
    color:#A41E22;
}

.resource_Caption-GET
{
    padding-right:8px;
    color:#0F6AB4;
}



.resource_Title-POST
{
    margin-top:8px;
}

.resource_Title-PUT
{
    margin-top:8px;
}

.resource_Title-DELETE
{
    margin-top:8px;
}

.resource_Title-GET
{
    margin-top:8px;
}

.resource-POST
{
    border: 1px solid #C3E8D1;
    border-top:0px;
}

.resource-PUT
{
    border: 1px solid #F0E0CA;
    border-top:0px;
}

.resource-DELETE
{
    border: 1px solid #E8C6C7;
    border-top:0px;
}

.resource-GET
{
    border: 1px solid #C3D9EC;
    border-top:0px;
}

.resource_marker-POST
{
    border-radius: 3px;
    background: #10AF4A;
    width:50px;
    height:20px;
    padding-top: 2px;
    
    font-size: .8em;
    color:White;
    text-align:center;
    vertical-align:middle;
    
  -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.resource_marker-PUT
{
    border-radius: 3px;
    background: #C5862B;
    width:50px;
    height:20px;
    padding-top: 2px;
    
    font-size: .8em;
    color:White;
    text-align:center;
    vertical-align:middle;

  -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.resource_marker-DELETE
{
    border-radius: 3px;
    background: #A41E22;
    width: 50px;
    height: 20px;
    padding-top: 2px;
    
    font-size: .8em;
    color: White;
    text-align: center;
    vertical-align: middle;

  -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}


.resource_marker-GET
{
    border-radius: 3px;
    background: #0F6AB4;
    width:50px;
    height:20px;
    padding-top: 2px;
    
    font-size: .8em;
    color:White;
    text-align:center;
    vertical-align:middle;

  -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}



















/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}




/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: top;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}