[DEFAULT]
Package: hethio-agent
Depends: 
	mosquitto-clients
Copyright-File: COPYRIGHT.txt

# TODO:

# format
# 3.0 (native)

# control
# Standards-Version: 3.9.4

# changelog
# hethio-agent (0.1~ppa2 raring; urgency=low)

# source/include-binaries
# hethio_data/*.png